.idea/eduConnector.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
config.php
php/src/tools/onlyoffice/storage
!php/src/tools/onlyoffice/storage/templates
assets/private.key
assets/public.key
composer.phar
php/composer.lock
vendor
log
!log/.gitkeep
test.php
.idea/php.xml
.idea/
/.env
/.git-versioned-pom.xml
