.idea/eduConnector.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
config.php
src/tools/onlyoffice/storage
!src/tools/onlyoffice/storage/templates
assets/private.key
assets/public.key
composer.phar
composer.lock
vendor
log
!log/.gitkeep
test.php
.idea/php.xml
