<?php

/*general*/
define('WWWURL', '');
define('WWWROOT', '');
define('DOCROOT', '');


/*onlyoffice*/
define('EDITORPATH', '/OnlineEditor/doceditor.php');
define('STORAGEFOLDER', 'storage');
define('STORAGEPATH', DOCROOT . '/OnlineEditor/' . STORAGEFOLDER);
define('STORAGEURL', WWWURL . '/OnlineEditor/' . STORAGEFOLDER);
define('DOCUMENT_SERVER', '');
define('PLUGIN_URL', '');

/*onyx*/
define('ONYXURL', '');
define('REPOSITORY', '');
define('ONYXPUP', '');

/*moodle*/
define('MOODLEURL', '');
define('MOODLETOKEN', '');


/*etherpad*/
define('SERVER', '');
define('PROTOCOL', '');
define('APIKEY', '');