.h5peditor-cloze{
    -webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    -moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    box-sizing:border-box;margin:0;padding:3px;
    min-height:25px;border:1px solid #d0d0d1;
    background:#fff;outline:none;
    font-size:16px;word-wrap:break-word
}

.h5peditor-cloze.error{
    border-color:red
}

.h5peditor-cloze{
    width:100%;
    box-sizing:border-box
}

.h5peditor-cloze:focus{
    outline:none;
    background-color:#fff;
    border-color:#53a0ff
}

input.h5peditor-cloze{
    width:7em
}

.h5peditor select {

    max-width: 100%;

}

.h5peditor-widetext{
    -webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    -moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.12);
    box-sizing:border-box;margin:0;
    padding:10px;
    min-height:40px;
    border:1px solid #d0d0d1;
    background:#fff;
    outline:none;
    font-size:16px;
    word-wrap:break-word
}

.h5peditor-widetext.error{
    border-color:red
}

.h5peditor-widetext{
    width:100%;
    box-sizing:border-box
}

.group.importance-high>.title,.h5p-li>.list-item-title-bar.importance-high{
    background:#018fe2;
    border:1px solid #018fe2;

}

.group>.title,.h5p-li>.list-item-title-bar{
    background:#018fe2;
    border:1px solid #018fe2;

}

.h5p-li>.list-item-title-bar .order-group{
    background:#018fe2;

}

.h5p-editing-image-popup-background{
    position: static;
    width:inherit;
    height:100%;
    background:rgba(0,0,0,0.8);
    padding: 1em;
    box-sizing:content-box;

}

.h5p-editing-image-popup{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    position: static;
    height:auto;
    width:auto;
    max-height:auto;
    -webkit-transform:none;
    -ms-transform:none;
    transform:none;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;

}

.h5p-editing-image-header{
    padding: 1em 0.75em;
    background: #ffffff;
    margin: 1em;
    width: -webkit-fill-available;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.h5p-editing-image-popup .darkroom-toolbar{
    position:static;

}

.h5p-editing-image-editing-container{
    max-width: 100vw;
    width: -webkit-fill-available;
    margin: 1em;
    margin-top: 0;
}

.h5peditor .file .add{
    position: relative;

}

.h5peditor .file .add .h5peditor-field-file-chooseimage-text:before{
    font-family:"H5P";
    content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH4gYUCQUbP6AjZwAAAZVJREFUSMet1j1rFUEUxvHf5q4RDL5gK4koCGohCNZio6n8CFoGLP0KVnb2glpYWNqJIAl2FmKllZUkXYxYhWCyuWuxs3jNztydvTcPDMzLOec/O+fM7hYyVTzb7MzVj1eyfBdmABTTwDNBjgS6hVe4NwRUTF3sAl7gBrawhvc5R5eETAG0ygZFIRmAQaAOZAAgG/QfZAZAFihVXTfxMhMAy3iOu7HFFOQOruEgtCphV03YXMBqzKhMOL/GN5zAGJfwFGcmbA7wBJ8xwiG+DoHs4MPE+Cr2j9iM8QnrfWdZpm5sm7iwntrMKGLb6ZfhSK7gFGps4mff7qboHC5r8r2P7wuayniDDXzEwzkAcD/EWsdbXG+f5DxOB6OlhHMRGcfeGEs4G/qHWGxLuO7Z3R/sReZ2e/xq4gmt6dz+H5obvRzWC2zjS8S2s+EYZBEnhcqZ0EYkQKkpmFZV8O2FPMBtPd+ahMaam98LuRjasalN/GiuKGmVKEr8xjv/knpcKvAL26WmSh7J/HMZqDGqNifVPJH69BfsmG5+uVVITwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNi0yMFQwOTowNToyNyswMDowMGzkGkQAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDYtMjBUMDk6MDU6MjcrMDA6MDAduaL4AAAAAElFTkSuQmCC');
    line-height:1;
    font-size:2em;
    position:absolute;
    left:0.3em;
    top:0.08em;

}


.h5peditor input[type="checkbox"]{
    margin:5px 5px 5px 0;

}


.h5peditor-button-textual{
    background:#018fe2;
    background-image:linear-gradient(#1097e6 50%,transparent 50%,transparent);

}

.h5peditor-button-textual:hover{
    background:#0381ca;
    background-image:linear-gradient(#018fe2 50%,transparent 50%,transparent);

}

.h5peditor-button-textual.importance-high{
    background:#2579c6;
    background-image:linear-gradient(#3080c9 50%,transparent 50%,transparent);
    border-color:#145d9c;

}

.h5p-editor-hidden{
    display: none;
}

/*
.h5p-editor-hide-in-productive-mode{
    display: none;
}
*/

.h5p-editing-image-button{
    display: none;
}


/* darkroom css*/

.disable-touch{
    touch-action:none;

}

.darkroom-toolbar{
    position:static;
    top:0;
    left:0;

}

.h5p-editing-image-popup .darkroom-image-container{
    padding: 32px 1em;
}

.field.importance-high>.h5peditor-label-wrapper>.h5peditor-label,
.textarea>.h5peditor-label-wrapper>.h5peditor-required {

    color: #ffffff;
    background: #018fe2;
    font-size: 16px;
    font-weight: 600;
    line-height: 42px;
}